.arrow-up-hotspot {
    height: 50px;
    width: 50px;
    background-image: url("/asset/textures/position/arrow-up.png");
    background-size: 100%;
}

.arrow-down-hotspot {
    height: 50px;
    width: 50px;
    background-image: url("/asset/textures/position/arrow-down.png");
    background-size: 100%;
}

.arrow-left-hotspot {
    height: 50px;
    width: 50px;
    background-image: url("/asset/textures/position/arrow-left.png");
    background-size: 100%;
}

.arrow-right-hotspot {
    height: 50px;
    width: 50px;
    background-image: url("/asset/textures/position/arrow-right.png");
    background-size: 100%;
}

.hand-hotspot {
    height: 50px;
    width: 40px;
    background-image: url("/asset/textures/position/hand.png");
    background-size: 100%;
}