html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

a:link,
a:visited {
    color: #bdc3c7;
}

#mutebtn2 {
    position: absolute;
    bottom: 10px;
    right: 44px;
    background : transparent;
    border: none;
    /* max-width: 44px;
    max-height: 44px; */
    /* float: right;
    width: 44px; */
}

#mutebtn2 img {
    height: 22px;
    width: 22px;
    /* mix-blend-mode: multiply; */
}

.credit {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    color: #fff;
}

#progress {
    width: 0;
    height: 5px;
    position: fixed;
    top: 0;
    background: #fff;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

#progress.finish {
    opacity: 0;
}

.letan2-container {
    max-width: 500px;
    max-height: 500px;
    min-width: 200px;
    min-height: 250px;
    padding: 10px 5px;
    background: #fff;
    color: #000;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    text-align: center;
}

.container {
    max-width: 500px;
    max-height: 500px;
    min-width: 200px;
    min-height: 250px;
    padding: 40px 20px;
    background: #fff;
    color: #000;
    border-radius: 3px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    text-align: center;
}

.container embed {
    height: 200px;
}

.container iframe {
    height: 200px;
}

.gap {
    width: 100%;
    height: 30px;
}

.container .small-image img {
    max-height: 50px;
}

.container .small-image embed {
    max-width: 25px;
    max-height: 50px;
}